section{
    padding: 100px 18%;
}
.banner{
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background-image: url(../Components/img2/Background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 4rem;
}
.banner-text h1{
    margin: 10px 0px 25px;
    font-size: var(--big-font);
    line-height: 1;
    font-weight: 500;
}
.banner-text h5{
    margin-bottom: 23px;
    font-size: 19px;
    font-weight: 500;
}

.banner-text p{
    font-size: var(--p-font);
    color: var(--text-color);
    line-height: 28px;
    margin-bottom: 20px;
}


.banner-img img{
    max-width: 100%;
    width: 540px;
    height: auto;
}

