.items{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    grid-gap: 2rem;
    align-items: center;
    text-align: center;
}
.card-box{
    padding: 45px 45ox 45px 45px;
    transition: ease .50;
    cursor: pointer;
}
.card-img img{
    max-width: 100%;
    width: 60px;
    height: auto;
    margin-bottom: 20px;
}
.card-box h3{
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 500;
}
.card-box p{
    font-size: var(--p-font);
    color: var(--text-color);
    line-height: 29px;
}
.card-box:hover{
    background: #ffffff;
    box-shadow: 18px 0px 87px 0px rgb(10 15 70 / 7%);
    border-radius: 12px;
    will-change: transform;
    transform: perspective(1000px) rotateX(4.80deg) rotateY(10.23deg) scale3d(1.05,1.05,1.05);
}




.card2-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
}
.row{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}
.row img{
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.1), #ff004f);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
}
.layer h5{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
.layer p{
    color: var(--text-color);
    font-size: 1rem;
    line-height: 1.8;
}
.layer i{
    color: var(--main-color);
    margin-top: 20px;
    font-size: 20px;
    background: var(--text-color);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.row:hover img{
    transform: scale(1.1);
}
.row:hover .layer{
    height: 100%;
}


.card3{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #fdfdfd;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
h5{
    color: rgb(56, 51, 45);
    font-size: 23px;
    margin-bottom: 15px;
}
.pra p{
    color: rgba(69, 68, 67, 0.8);
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}
