.navlist{
    display: flex;
}
.navlist li{
    position: relative;
}
.navlist a{
    font-size: var(--p-font);
    color: var(--text-color);
    font-weight: 500;
    padding: 10px 27px;
}
.navlist a::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background: var(--main-color);
    bottom: -3px;
    left: 0;
    transition: ease .40s;
}
.navlist a:hover::after{
    width: 100%;
}
#menu-icon{
    font-size: 35px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    display: none;
}
